<template>

<!-- App Vue -->
  <v-app>

    <v-snackbar
      v-model="snackbarStatus"
      color="success"
      bottom
      timeout="20000"
      multi-line
      outlined
    >
      {{ snackbarText }}
      <template v-slot:action="{attrs}">
        <v-btn
        color="pink"
        text
        v-bind="attrs"
        @click="snackbarStatus = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <v-navigation-drawer app v-model="drawer">
      <!-- -->
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img src="https://media-exp1.licdn.com/dms/image/C5103AQEYx4NBr09aXw/profile-displayphoto-shrink_800_800/0/1549248627558?e=1643241600&v=beta&t=x-Bi5-tNxlPOgTCBIdrtHrc4mEp5zU_8FWZ0EFTyJKQ"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>User's Name</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1">
            <v-icon>
              mdi-lock
            </v-icon>
            Login
          </v-btn>
          <v-btn block color="success" class="mb-1">
            <v-icon>
              mdi-account
            </v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item,index) in menus"
          :key="`menu-${index}`"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{item.icon}}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon>
              mdi-lock
            </v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="success" dark>
      <!-- -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>SanbercodeApp</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
      @Sanbercode | VueJS
    </v-footer>
  </v-app>

  
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
    drawer : false,
    menus : [
      {title : 'Home', icon: 'mdi-home', route:'/'},
      {title : 'Blogs', icon: 'mdi-note', route:'/blogs'},
    ],
    guest : true,
    snackbarStatus: false,
    snackbarText : 'this is an alert'
  }),
  mounted(){
    this.snackbarStatus = true
  }
};
</script>
