<template>

    <v-flex  :key="`blog-`+blog.id" xs6>
        <v-card :to="'/blog/' + blog.id">
            <v-img
                :src="blog.photo ? apiDomain + blog.photo : 'https://images.unsplash.com/photo-1637479758719-a8f1241435e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2011&q=80'"
                class="white--text"
                height="200px"
            >
                <v-card-title
                    class="fill-height align-end"
                    v-text="blog.title"
                ></v-card-title>
            </v-img>

            <v-card-actions>
            <v-progress-linear
                color="blue-grey"
                height="7"
            ></v-progress-linear>
            </v-card-actions>

            <v-card-actions>
            <span>{{ blog.title.substring(0,15) }}...</span>
            </v-card-actions>

        </v-card>
    </v-flex>
</template>

<script>


export default {
    data : () =>({
    apiDomain:'http://demo-api-vue.sanbercloud.com',
    }),
    props : ['blog']
}
</script>