<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + total }}</h1>
        <h1>{{ 'Rata rata : ' + avg }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            a : 0 ,
            i : 0,
            total : 0,
            avg : 0
        },
        // computed : {
        //     avg : function (total, i) {
        //         return total / i;
        //     },

        //     total : function (a,b) {
        //         return a + b;
        //     }
        // },
        methods : {
            openForm : function () {
                while (this.total < 10) {
                    this.a = prompt("Masukkan nilai a");
                    this.total = this.total + parseInt(this.a);
                    this.i = this.i + 1;
                }
                this.avg = this.total / this.i;
                
            }
        }
    })
    </script>
</body>
</html>