<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form{
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input{
            min-width: 210px;
        }
    </style>
</head>
<body>
    <div id="app">

        <component-satu></component-satu>

        <form @submit.prevent="submitForm()">
            <label for="name">Name:</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" v-model="name" placeholder="Masukkan nama"/> <br>
            <label for="address">Address:</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="address" v-model="address" placeholder="Masukkan alamat"/> <br>
            <label for="phone">Phone:</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="phone" v-model="no_hp" placeholder="Masukkan nomor telepon"/>
            <br><br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)"> <br>
                <input type="button" value="CANCEL" @click="clearForm()">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)"> <br>
                <input type="button" value="CANCEL" @click="clearForm()">
            </div>
        </form>

        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member of members">
                    <th scope="row">{{member.id}}</th>
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td><img width=100 src="member.photo_profile ? photoDomain + member.photo_profile : https://images.wallpapersden.com/image/download/witcher-3-artstation-fan-art_a2hqaW2UmZqaraWkpJRma2VlrW5lZQ.jpg"></td>
                    <!-- <td><img width=100 src="https://images.wallpapersden.com/image/download/witcher-3-artstation-fan-art_a2hqaW2UmZqaraWkpJRma2VlrW5lZQ.jpg"></td> -->
                    <td>
                        <button @click="editMember(member)" type="button" class="btn btn-primary">Edit</button>
                        <button @click="removeMember(member.id)" type="button" class="btn btn-danger">Hapus</button>
                        <button @click="uploadPhoto(member)"type="button" class="btn btn-secondary">Upload Foto</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>

    <template id="component-satu">
        <h1>Member Form</h1>
    </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

    Vue.component('component-satu', {
        template : '#component-satu'
    })

    const vm = new Vue ({
        el: '#app',
        data : {
            
            name:'',
            address:'',
            no_hp:'',
            photo_profile:'',
            errors : [],
            members : [],
            photoDomain : 'http://demo-api-vue.sanbercloud.com/api/member',
            buttonStatus : 'submit',
            idEditMember : null,
            idUploadMember : null
            
        },

        methods: {
            submitForm: function(){

                let formData = new FormData();
                formData.append('name', this.name);
                formData.append('address', this.address);
                formData.append('no_hp', this.no_hp);
                
                const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                }

                console.log(formData);
                axios(config)
                    .then( (response) => {
                        console.log(response.data)
                        alert('success');
                        this.getMember();
                        this.clearForm();
                    })
                    .catch( (error) => {
                        console.log(error);
                        alert(error);
                    })
                
            },

            getMember : function(){
                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member"
                }

                axios(config)
                    .then( (response) => {
                        this.members = response.data.members;
                        console.log(response.data.members);
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },

            removeMember : function (id) {
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : { _method : "DELETE"}
                }

                axios(config)
                    .then( (response) => {
                        console.log(response.data)
                        alert(`member ${id} deleted`);
                        this.clearForm();
                    })
                    .catch( (error) => {
                        console.log(error);
                        alert(error);
                    })
            },

            editMember : function (member) {
                this.name = member.name;
                this.address = member.address;
                this.no_hp = member.no_hp;
                this.buttonStatus = 'update';
                this.idEditMember = member.id
            },

            clearForm : function (){
                this.name = '',
                this.address = '',
                this.no_hp = '',
                this.buttonStatus = 'submit',
                this.idEditMember = null
            },

            updateMember : function (id) {
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.no_hp)
                
                let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    data : formData,
                    params : { _method : "PUT"}
                }

                axios(config)
                    .then( (response) => {
                        console.log(response)
                        this.clearForm();
                        this.getMember();
                        alert(response.data.message);
                    })
                    .catch( (error) => {
                        console.log(error);
                        alert(error);
                    })
            },

            uploadPhoto : function (member) {
                this.name = member.name;
                this.address = member.address;
                this.no_hp = member.no_hp;
                this.buttonStatus = 'upload';
                this.idUploadMember = member.id
            },

            submitPhoto : function (id) {
                console.log(id)

                let file = this.$refs.photo_profile.files[0]

                let formData = new FormData()
                formData.append('photo_profile', file)

                let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                    data : formData,
                }

                axios(config)
                    .then( (response) => {
                        console.log(response)
                        this.clearForm();
                        this.getMember();
                        this.idUploadMember = null;
                        alert(response.data.message);
                    })
                    .catch( (error) => {
                        console.log(error);
                        alert(error);
                    })
            }
            
        },
        created() {
            this.getMember()
        }

    })

    </script>
</body>
</html>