<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form{
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input{
            min-width: 210px;
        }
    </style>
</head>
<body>
    <div id="app">
        
        <form @submit.prevent="submitForm()">
            <label >Name:</label>
            <input type="text"  v-model="name" ref="name" placeholder="Masukkan nama"/> <br>
            <label >Address:</label>
            <input type="text"  v-model="address" ref="address" placeholder="Masukkan alamat"/> <br>
            <label >Phone:</label>
            <input type="text"  v-model="phone" ref="phone" placeholder="Masukkan nomor telepon"/> <br><br>
            <input type="submit" value="SUBMIT">
        </form>
        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pic</th>
                    <th scope="col">Title and Des</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="blog of blogs">
                    <th scope="row">1</th>
                    <td><img width=100 src="https://images.wallpapersden.com/image/download/witcher-3-artstation-fan-art_a2hqaW2UmZqaraWkpJRma2VlrW5lZQ.jpg"></td>
                    <td>Title : {{blog.title}} <br> Description : {{blog.description}} </td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Hapus</button>
                        <button type="button" class="btn btn-primary">Upload Foto</button>
                    </td>
                    
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    var vm = new Vue ({
        el: '#app',
        data : {
            
            name:'',
            address:'',
            phone:'',
            errors : [],
            blogs : [
                // {"title":"asd", "description":"yoloo"},
                // {"title":"asd", "description":"yoloo"}
            ]
            
        },
        // computed: {
        //     filteredList() {
        //     return this.books.filter((buku) => {
        //         return buku.toLowerCase().includes(this.search.toLowerCase())
        //     })
        //     }
        // },
        methods: {
            submitForm: function(){
                let error = 0;

                if (this.name.length < 5) {
                    error++;
                    this.$refs.name.focus();
                    alert('Nama minimal 5 karakter');
                } else if (this.phone.length < 5) {
                    error++;
                    this.$refs.phone.focus();
                    alert('Nomor telepon tidak valid')
                }
                
                if (error === 0) {
                    alert('Welcome');
                    console.log('masuk');
                }
                
            },

            // postUser : function () {
            //     const config = {
            //         method : "post",
            //         url : "http://demo-api-vue.sanbercloud.com/api/member"
            //     }

            //     axios(config)
            //         .then( (response) => {
            //             console.log(response.data)
            //         })
            //         .catch( (error) => {
            //             console.log(error)
            //         })
            // },

            getBlogs: function(){
                // const config = {
                //     method : "get",
                //     url : "http://demo-api-vue.sanbercloud.com/api/member"
                // }

                axios({
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/blog"
                })
                    .then( (response) => {
                        this.blogs = response.data.blogs;
                        console.log(response.data);
                    })
                    .catch( (error) => {
                        console.log(error)
                    });
            },
        },
        created() {
                this.getBlogs()
            }
    })

    </script>
</body>
</html>