<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <form >
            
        </form> -->
        <input type="text" name="name" v-model="newName" />
        <button v-show="!updateSubmit" @click="add()" value="add">ADD</button>
        <button v-show="updateSubmit" @click="update(newName)" value="update">UPDATE</button>


        <ul>
            <li v-for="(user, index) in users">
                <div>{{user.fname}}</div>
                <button @click="edit(user, index)">edit</button>
                <button @click="del(index)">delete</button>
            </li>
        </ul>
<!-- 
        <div v-for="item in users" class="flex-table">
            <div>{{item.name}}</div>
            <div>
                <button type="button">edit</button>
            </div>
            <div>
                <button>delete</button>
            </div>
        </div> -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    
    const app = new Vue ({
        el: '#app',
        data () {
            return {
                newName:"",
                users: [
                    {
                        info:"name", fname : 'Muhammad Iqbal Mubarok'
                    },
                    {
                        info:"name", fname : 'Ruby Purwanti'
                    },
                    {
                        info:"name", fname : 'Faqih Muhammad'
                    },
                ],
                updateSubmit : false,
                selectedUserId : '',
            }
        },

        computed: {},
        methods: {
            add: function() {
                this.users.push({
                info : "name",
                fname : this.newName,
                });
                this.newName = "";
            },

            edit: function(user, index) {
                this.selectedUserId = index;
                this.newName = user.fname;
                this.updateSubmit = true;

            },

            update: function (newName) {
                this.users[this.selectedUserId].fname = this.newName;
                this.updateSubmit = false;
                this.newName ='';
                this.selectedUserId='';
            },

            del: function(index) {
                let c = confirm('Are you sure?');

                if (c) {
                    this.users.splice(index,1);
                }
            },
        }
    })
    


    </script>
    <style lang="scss" scoped>
        .flex-table{
            display: grid;
            grid-template-columns: repeat(auto-fill, 33%);
            padding: 10px;
            border-bottom: 1px;
        }
    </style>
</body>
</html>