<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="search" placeholder="Search title.."/>
    
    <ul style="list-style-type:square;" >
      <li v-for="(item) of filteredList" >{{ item }}</li>
    </ul>
    
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
  
const app = new Vue ({
  el: '#app',
  data () {
    return {
      search:"",
      books: [
        'Kalkulus Dasar',
        'Fisika Dasar',
        'Aljabar Linier Elementer',
        'Aljabar Abstrak',
        'Algoritma Pemrograman'
      ]
    }
  },
  // computed: {
  //   filteredList() {
  //     return this.postList.filter(post => {
  //       return post.title.toLowerCase().includes(this.search.toLowerCase())
  //     })
  //   }
  // },
  computed: {
    filteredList() {
      return this.books.filter((buku) => {
        return buku.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})

  </script>
</body>
</html>